 /* Global variable */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* custom variable */
 :root {
     --text-color: rgba(255, 0, 0, 0.623);
 }

 /* start navbar css */

 @media (max-width: 991px) {
     .margin_top {
         margin-top: 20px;
     }
 }

 /* end navbar css */

 /* searchbox css start*/
 .has-search .form-control {
     padding-left: 5.375rem;
 }

 .has-search .form-control-feedback {
     position: absolute;
     z-index: 2;
     display: block;
     width: 2rem;
     height: 2rem;
     line-height: 2.375rem;
     text-align: center;
     pointer-events: none;
     color: black;
 }

 .custom-shadow {
     box-shadow: 2px 2px 20px black;
 }

 /* search  box css end*/



 @media (min-width: 992px) {
     .bestTxt {
         font-size: 60px !important;
     }

     .collectionTxt {
         font-size: 50px !important;
     }

     .ttt {
         top: 20% !important;
         left: 17% !important;
     }

 }


 @media (max-width: 769px) {
     .bestTxt {
         font-size: 30px !important;
     }

     .collectionTxt {
         font-size: 20px !important;
     }

     .ttt {
         top: 15% !important;
         left: 10% !important;
     }
 }

 /* collapse css start*/
 @media (max-width: 768px) {

     .header {
         margin-bottom: 35px !important;
     }

 }

 @media (min-width: 769px) {

     .collapseParent {
         visibility: hidden;
     }

     .collapseChild {
         display: block !important;
     }
 }

 /* collapse css end*/